<div class="timeSelector">
  <div class="topMask"></div>
  <div class="midMask"></div>
  <div class="bottomMask"></div>
  <div class="leftStage timeStage">

    <div class="leftContainer">
      <span class="hour centerNum">00</span><span class="hour">01</span><span class="hour opacityNum">02</span><span
      class="hour opacityNum">03</span><span class="hour">04</span><span class="hour">05</span><span
      class="hour">06</span><span
      class="hour">07</span><span class="hour">08</span><span class="hour">09</span><span
      class="hour">10</span><span
      class="hour">11</span><span class="hour">12</span><span class="hour">13</span><span
      class="hour">14</span><span
      class="hour">15</span><span class="hour">16</span><span class="hour">17</span><span
      class="hour">18</span><span
      class="hour">19</span><span class="hour">20</span><span class="hour opacityNum">21</span><span
      class="hour opacityNum">22</span><span
      class="hour">23</span>
    </div>
  </div>
  <div class="rightStage timeStage">
    <!--<div class="topMask"></div>-->
    <!--<div class="midMask"></div>-->
    <!--<div class="bottomMask"></div>-->
    <div class="rightContainer">
      <span class="minute rightCenterNum">00</span><span class="minute">01</span><span class="minute rightOpacityNum">02</span><span
      class="minute rightOpacityNum">03</span><span class="minute">04</span><span class="minute">05</span><span class="minute">06</span><span
      class="minute">07</span><span class="minute">08</span><span class="minute">09</span><span class="minute">10</span><span
      class="minute">11</span><span class="minute">12</span><span class="minute">13</span><span
      class="minute">14</span><span class="minute">15</span><span class="minute">16</span><span class="minute">17</span><span
      class="minute">18</span><span class="minute">19</span><span class="minute">20</span><span class="minute">21</span><span
      class="minute">22</span><span class="minute">23</span><span class="minute">24</span><span class="minute">25</span><span
      class="minute">26</span><span class="minute">27</span><span class="minute">28</span><span class="minute">29</span><span
      class="minute">30</span><span class="minute">31</span><span class="minute">32</span><span class="minute">33</span><span
      class="minute">34</span><span class="minute">35</span><span class="minute">36</span><span class="minute">37</span><span
      class="minute">38</span><span class="minute">39</span><span class="minute">40</span><span class="minute">41</span><span
      class="minute">42</span><span class="minute">43</span><span class="minute">44</span><span class="minute">45</span><span
      class="minute">46</span><span class="minute">47</span><span class="minute">48</span><span class="minute">49</span><span
      class="minute">50</span><span class="minute">51</span><span class="minute">52</span><span
      class="minute">53</span><span class="minute">54</span><span class="minute">55</span><span
      class="minute">56</span><span class="minute rightOpacityNum">57</span><span class="minute rightOpacityNum">58</span><span class="minute">59</span>
    </div>
  </div>
</div>
