<ion-tabs class="tabs-icon-top  tabs-striped tabs-top tabs-dark {{hideTabs}}">
  <ion-tab title="闹钟" icon-off="ion-ios-alarm-outline" icon-on="ion-ios-alarm" href="#/tab/clock">
    <ion-nav-view name="tab-clock"></ion-nav-view>
  </ion-tab>
  <ion-tab title="世界时间" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/world">
    <ion-nav-view name="tab-world"></ion-nav-view>
  </ion-tab>
  <ion-tab title="秒表" icon-off="ion-ios-stopwatch-outline" icon-on="ion-ios-stopwatch" href="#/tab/stopwatch">
    <ion-nav-view name="tab-stopwatch"></ion-nav-view>
  </ion-tab>
  <ion-tab title="定时器" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" href="#/tab/hourglass">
    <ion-nav-view name="tab-hourglass"></ion-nav-view>
  </ion-tab>
</ion-tabs>
